* {
    font-family: 'Montserrat';
    font-style: normal;
}

#header {
    padding: 40px 114px;
    max-width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
input {
    background-color: white;
    font-weight: 400;
    font-size: 20px;
    background-image: url(rsc/Lupa.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 8px 16px;
    gap: 16px;
    padding-left: 32px;
    border-radius: 7px;
    text-indent: 10px;
    float:right;
    display:flex;
    width: 450px;
    height: 61px;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;
}

.flexbox {
    display:flex;
    background-color: #f9f9f9;
    margin: 0px -8px -8px -8px;
    padding:80px 114px;
}

.trio {
    margin: 20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:32px;
}

.duo {
    display:flex;
    flex-direction: column;
    gap:32px;
}

.picole_grande {
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 24px;
}

.picole_grande text {
    width: 270px;
    height: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #292929;
}

.picole_grande p {
    width: 270px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #606060;
}

.price {
    background: rgba(249, 199, 191, 0.5);
    padding:8px;
    border-radius: 8px;
    width: 80px;
    height: 40px;
}

.price text {
    font-weight: 400;
    font-size: 24px;
}

.picole_pequeno {
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}