# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
*.bin
tempCodeRunnerFile
tempCodeRunnerFile.c
2021.2/Algoritmos/listas/.DS_Store
2021.2/Algoritmos/.DS_Store
2021.2/.DS_Store
.DS_Store
tempCodeRunnerFile.cpp
tempCodeRunnerFile.csharp
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
2021.2/dev_web/inicio/portfolio/arruda.JPG
2021.2/dev_web/inicio/portfolio/github.png
2021.2/dev_web/inicio/portfolio/discord.png
2021.2/dev_web/inicio/portfolio/IMG_3931.JPG
2021.2/dev_web/inicio/portfolio/Brasao_da_UFPE.png
2021.2/dev_web/inicio/portfolio/euclides_output.png
2021.2/dev_web/inicio/portfolio/euclides.png
2021.2/dev_web/inicio/portfolio/enum_output.png
2021.1/o_homem-aranha_que_se_perdeu_na_historia/.vscode/c_cpp_properties.json
2021.1/o_homem-aranha_que_se_perdeu_na_historia/.vscode/dryrun.log
2021.1/o_homem-aranha_que_se_perdeu_na_historia/.vscode/settings.json
2021.2/dev_web/inicio/portfolio/aranha.jpeg
2021.2/dev_web/inicio/portfolio/pc.JPG
2021.2/Algoritmos/listas/lista[7]/n-queens.cpp
2021.2/citi/portfolio/aranha.jpeg
2021.2/citi/portfolio/Brasao_da_UFPE.png
2021.2/citi/portfolio/enum_output.png
2021.2/citi/portfolio/github.png
2021.2/citi/portfolio/euclides_output.png
2021.2/citi/portfolio/discord.png
2021.2/citi/portfolio/IMG_3931.JPG
2021.2/citi/portfolio/pc.JPG
2021.2/citi/pta desafio javascript
2021.2/citi/pta_desafio_javascript
2021.2/citi/aux/tracos/assets/mylena.png
2021.2/citi/aux/tracos/assets/pedro.png
2021.2/citi/aux/tracos/assets/Union.png
2021.2/citi/aux/tracos/assets/samuel.png
2022.1/infrasoft/start
2022.1/infrasoft/lista/q1.asm
2021.1/início/horas_em_minutos.asm
2022.1/infrasoft/lista/q2.asm
2022.1/infrasoft/lista/q4.asm
2022.1/infrasoft/lista/q5.asm
*.vscode*
*.png