tempCodeRunnerFile
tempCodeRunnerFile.c
2021.2/Algoritmos/listas/.DS_Store
2021.2/Algoritmos/.DS_Store
2021.2/.DS_Store
.DS_Store
tempCodeRunnerFile.cpp
.gitignore
tempCodeRunnerFile.csharp
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/launch.json
