body {
  background-color: #292929;
  font-family: "Barlow";
}
img {
  position: absolute;
  width: 8.89%;
  left: 45.41%;
  top: 3.8%;
}

#rectangle {
  box-sizing: border-box;
  display: block;
  width: 65.27%;
  height: 42.68%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  background: #e5e5e5;
  border: 3px solid #51e678;
  border-radius: 8px;
  padding-bottom: 400px;
  margin-bottom: 200px;
}

h3 {
  font-weight: 700;
  font-size: 42px;
  color: rgba(41, 41, 41, 0.8);
}

h2 {
  font-weight: 800;
  font-size: 64px;
  color: #292929;
}

button {
  all: unset;
  padding: 15px 200px;
  font-weight: 700;
  font-size: 32px;
  background: #51e678;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
