* {
  font-family: "Barlow", "sans-seriff";
  background-color: #1a1a1a;
  text-align: center;
  color: #2d9148;
  max-width: 100vw;
}

input {
  background-color: white;
}

span {
  color: #fff;
  font-weight: bold;
}

#inputs {
  margin: 10vh 0;
}

.flexbox {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0 0;
}
#center {
  justify-content: center;
}

#right {
  justify-content: flex-end;
  right: 11.4%;
}

#left {
  left: 10.8%;
  width: 44vw;
}

body {
  max-width: 100vw;
  margin: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.riddle {
  all: unset;
  color: #40ff63;
  font-size: 3vw;
  display: none;
}

.riddle:hover {
  cursor: pointer;
}

#youtube {
  display: flex;
  justify-content: space-around;
  margin: 7vh 0;
}
#youtube p {
  color: #1a1a1a;
}

p {
  color: #fff;
  margin: 0 5vw;
}

.container {
  width: 44vw;
  height: 10vw;
  background-color: #101010;
  margin: 2vw 0;
  display: flex;
}

#firstContainer {
  justify-content: left;
}

#secondContainer {
  justify-content: center;
}

#thirdContainer {
  justify-content: right;
  width: 40vw;
}

.square {
  background-color: rgb(118, 33, 116);
  border-color: #2d9148;
  border-style: solid;
  border-width: 2px;
  width: 10vw;
}

#toninho {
  all: unset;
  background-color: #252525;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin: 4vh 0;
  display: none;
  color: #fff;
  width: 5vw;
  height: 5vh;
  font-size: 5vh;
}

@media (max-width: 480px) {
  #left {
    left: 11%;
  }
  #right {
    right: 11%;
  }
  .square {
    border-width: 1px;
  }
  #desc p {
    font-size: 11px;
  }
  h1 {
    font-size: 24px;
  }
  #inputs {
    margin: 5vh 0;
  }
  #inputs input {
    width: 20vw;
    margin: 0 2vw;
  }
  .riddle {
    width: 20vw;
    font-size: 5vh;
  }
  #toninho {
    width: 15vw;
  }
}
